{% extends "sistema/layout.html" %}


{% block contenido %}
<style>
    #leyenda {
        font-family: Arial, sans-serif;
    }

    .circulo {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }

    #amarillo {
        background-color: var(--yellow);
    }

    #verde {
        background-color: var(--light-green);
    }

    #rojo {
        background-color: var(--red);
    }

    #programado {
        background-color: var(--blue);
    }
</style>
<div class="container-fluid">
    <div class="col-lg d-flex p-0">
        <div class="card w-100 p-3">
            <div class="table-calendar">

                <div class="order ">
                    <div class="row mb-3">
                        <div class="col" id="leyenda">
                            <div id="amarillo" class="circulo"></div>
                            <span>En proceso</span>

                            <div id="verde" class="circulo"></div>
                            <span>Completado</span>

                            <div id="rojo" class="circulo"></div>
                            <span>Pendiente</span>
                            <div id="programado" class="circulo"></div>
                            <span>Programado</span>
                        </div>
                        <div class="col filter-container">
                            <i class='bx bxs-calendar' style="color: #0D6EFD; font-size: 25px;" id="Fecha"></i>
                            <input type="hidden" placeholder="Pick date rage" id="start" value="" />
                            <input type="hidden" placeholder="Pick date rage" id="2" value="" />
                            <button class="btn btn-primary d-none" id="applyFilter">Aplicar Filtro</button>

                        </div>
                    </div>

                    <div id="calendario-cliente"></div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- MODALES -->

<div id="agendar-modal"></div>
<input id="agregar" type="hidden" data-bs-toggle="modal" data-bs-target="#agendarConsulta">





<div class="modal fade" id="agregarCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Agregar Cliente</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Nombres</label>

                            <input type="text" id="nombreCliente" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Apellidos</label>

                            <input type="text" id="apellidoCliente" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Correo</label>

                            <input type="text" id="nombreCliente" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Teléfono</label>

                            <input type="text" id="apellidoCliente" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Dirección</label>

                            <textarea name="" class="form-control" id=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#capturarPeso" id="regresar" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Regresar</button>
                <button class="btn btn-primary" onclick="NuevoConductor()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="agregarMascota" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Agregar Mascota</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Placa</label>

                            <input type="text" id="PlacaNueva" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#capturarPeso" id="regresar1" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Regresar</button>
                <button class="btn btn-primary" onclick="NuevaPlaca()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN DEL MODAL -->
<!-- FIN DE MODALES -->
<script>
    var consultas = new Array()
    var ret = new Array()
    function aleatorio(inferior, superior) {
        numPosibilidades = superior - inferior
        aleat = Math.random() * numPosibilidades
        aleat = Math.floor(aleat)
        return parseInt(inferior) + aleat
    }
    function color() {
        hexadecimal = new Array("0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "A", "B", "C", "D", "E", "F")
        color_aleatorio = "#";
        for (i = 0; i < 6; i++) {
            posarray = aleatorio(0, hexadecimal.length)
            color_aleatorio += hexadecimal[posarray]
        }
        console.log(color_aleatorio)
        return color_aleatorio
    }
    function Agendar(fechaSeleccionada, eventosDelDia) {
        var horasOcupadas = eventosDelDia.map(function(evento) {
            return evento.start.toISOString().split('T')[1].substring(0, 5); // Extrae HH:MM
        });
        
        $.ajax({
            url: "{{ url_for('sistema.modalAgendar') }}",
            type: "POST",
            data: {
                fecha: fechaSeleccionada,
                event:  horasOcupadas.length > 0 ? horasOcupadas : null  // Enviar también la hora seleccionada
            },
            success: function (response) {
                $('#agendar-modal').html(response);
                $('#agendar-modal').append(response.htmlresponse);
                $('#agregar').click();
            },
            error: function (error) {
                console.error("Error en la solicitud AJAX:", error);
            },
        });
    }
    var calFuera;
    
    function cale() {

        //console.log('entro')
        /* initialize the calendar
         -----------------------------------------------------------------*/
        //Date for the calendar events (dummy data)
        var date1 = new Date();
        var d1 = date1.getDate(),
            m1 = date1.getMonth(),
            y1 = date1.getFullYear();

        var Calendar1 = FullCalendar.Calendar;
        var calendarEl1 = document.getElementById('calendario-cliente');

        // Inicializa el calendario
        var calendar1 = new Calendar1(calendarEl1, {

            buttonText: {
                prevYear: 'prev year',
                nextYear: 'next year',
                year: 'year',
                today: 'Hoy',
                month: 'Mes',
                day: 'Día',
                list: 'Lista',
            },
            locale: 'es',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridDay'
            },
            hiddenDays: [0], // Esconde los domingos
            events: consultas, // Eventos predeterminados

            dateClick: function (info) {
                // Filtrar eventos en la fecha seleccionada
                var eventsOnSelectedDate = calendar1.getEvents().filter(function (evento) {
                    var eventoDate = evento.start.toISOString().split('T')[0];
                    return eventoDate === info.dateStr;
                });

                // Verificar si el número de citas es menor a 5
                if (eventsOnSelectedDate.length < 5) {
                    // Abre la interfaz para seleccionar la hora
                    Agendar(info.dateStr, eventsOnSelectedDate);
                } else {
                    console.log("No se pueden agendar más citas en esta fecha.");
                }
            },

        });

        // Renderiza el calendario

        calFuera = calendar1;

        calendar1.render();
        // Agregar eventos a los botones de filtro
        document.getElementById('applyFilter').addEventListener('click', function () {
            applyFilter(calendar1);
        });
        // // Agregar evento al cambio del campo de filtro de fecha
        // document.getElementById('start').addEventListener('input', function () {
        //     applyFilter(calendar1);
        // });

        // $('#calendario-cliente').fullCalendar()

    }
    $(document).ready(function () {
        cale();


    });

    function cargareventos() {

        $.ajax({
            url: "/TraerPendientes",
            type: "GET",
            data: {

            },
            success: function (response) {
                // $('#pendientes').html(response);
                // $('#pendientes').append(response.htmlresponse);
                var json = JSON.parse(response.replace(/'/g, '"'));


                var elementos = $('#pendientes .extraer')

                $.each(json, (index, evento) => {
                    var color;
                    console.log(evento.estado)
                    if (evento.importancia < 4 && evento.importancia > 0 && (evento.estado != 'COMPLETADO')) {
                        color = '#e9d41d';  // Amarillo para pendientes
                    } else if (evento.estado === 'COMPLETADO') {
                        color = '#0da10d';  // Verde para completados
                    } else if ((evento.estado == 'EN PROCESO')) {
                        color = '#FFCE26'; // Otro color por defecto
                    } else if ((evento.estado == 'RETRASADO')) {
                        color = 'var(--red)'; // Otro color por defecto
                    } else if ((evento.estado == 'PLANIFICADO')) {
                        color = 'var(--red)'; // Otro color por defecto
                    }
                    // var fechaFinActual = new Date();
                    // fechaFinActual.setDate(fechaFinActual.getDate() + 1);

                    // Actualizar la propiedad fechafin con la nueva fecha
                    consultas.push({
                        title: evento.numero + ' - ' + evento.maquina + ' - ' + evento.asignado,
                        start: evento.fecha,
                        end: evento.fechafin,
                        backgroundColor: color,
                        borderColor: '#130f40'
                    });

                });
                console.log(JSON.stringify(consultas))
                ret = JSON.stringify(consultas)
                cale();
                consultas = []; // Se crea un nuevo arreglo vacío, reemplazando el anterior
                ret = []; // Se crea un nuevo arreglo vacío, reemplazando el anterior

            },
            error: function (error) {
                // console.log(error);
            },
        });

    }
</script>

{% endblock %}