{% extends "sistema/layout.html" %}


{% block contenido %}
<div class="container-fluid ">
    <!--  Row 1 -->
    <div class="row">
    </div>
    <div class="row" id="mostrar_ventas">
    </div>
</div>
<!-- MODALES -->
<input id="launchModal" type="hidden" data-bs-toggle="modal" data-bs-target="#agregarUsuario">
<div id="modal-usuario"></div>

<!-- MODAL DE DETALLE DE PRODUCTOS -->
<input id="launchDetalle" type="hidden" data-bs-toggle="modal" data-bs-target="#modalDetalleProducto">
<div id="modal-detalle"></div>
<!-- FIN DEL MODAL -->
<!-- FIN DE MODALES -->
<script>
    $(document).ready(function () {

        cargarHospitalizacion();

    });
    function buscarUsuarios() {
        var searchTerm = $('#Buscador').val();
        // Aplica el término de búsqueda a DataTables
        $('#tabla_usuarios').DataTable().search(searchTerm).draw();
    };
    $('#Buscador').on('keyup', buscarUsuarios)
    function cargarHospitalizacion() {
        $.ajax({
            url: "{{ url_for('sistema.tablaHospitalizacion') }}",
            type: "POST",
            data: {
            },
            success: function (response) {
                $("#mostrar_ventas").html(response);
                $("#mostrar_ventas").append(response.htmlresponse);

            },
            error: function (error) {
                // console.log(error);
            },
        });
    }
    function agregarUsuario() {
        $.ajax({
            url: "{{ url_for('sistema.modalAgregarUsuario') }}",
            type: "POST",
            data: {
            },
            success: function (response) {
                $("#modal-usuario").html(response);
                $("#modal-usuario").append(response.htmlresponse);
                $('#launchModal').click();

            },
            error: function (error) {
                // console.log(error);
            },
        });
    }
</script>

{% endblock %}