<head>
    <script src="../../../static/sistema/js/validacion-usuario.js"></script>
</head>


{% for hospitalizacion in datos%}
<div class="modal fade" id="detalleHospitalizacion" data-bs-focus="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header encabezado_modales">


                <div class="col-4">
                    <h5 class="modal-title fuente-grande-titulo" id="exampleModalLabel">
                        Hospitalización
                    </h5>
                </div>
                <button type="button" class="btn-close" id="cerrarDet" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <input type="hidden" id="id" value='{{hospitalizacion.id_hosp}}'>
            <div class="modal-body fondo-modal">

                <div class="container cuerpo-modal" style="background-color: white;">
                    <div class="row mt-2">
                        <div class="col">
                            <label class="form-label " for="form3Example2"><strong>Cliente</strong></label>
                            <input type="text" class="form-control" value="{{hospitalizacion.nombre}}" disabled>

                        </div>
                        <div class="col">
                            <label class="form-label " for="form3Example2"><strong>Mascota</strong></label>
                            <input type="text" class="form-control" value="{{hospitalizacion.Nombre_mascota}}" disabled>

                        </div>

                        <div class="col">
                            <label class="form-label" for="form3Example2"><strong>Especie</strong></label>
                            <input type="text" class="form-control" value="{{hospitalizacion.nom_especie}}" disabled>




                        </div>



                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label class="form-label " for="form3Example2"><strong>Fecha Hospedaje</strong></label>
                            <input type="text" class="form-control" value="{{hospitalizacion.fecha_hosp}}" disabled>

                        </div>
                        <div class="col">
                            <label class="form-label " for="form3Example2"><strong>Fecha Salida</strong></label>
                            <input type="text" class="form-control" value="{{hospitalizacion.fecha_salida}}" disabled>

                        </div>
                    </div>
                    <div class="row mt-2">

                        <div class="col">
                            <label class="form-label" for="form3Example2"><strong>Habitación</strong></label>
                            <input type="text" class="form-control" value="{{hospitalizacion.habitacion}}" disabled>

                        </div>

                        <div class="col">
                            <label class="form-label" for="form3Example2"><strong>Total</strong></label>
                            <input type="text" class="form-control" value="C$ {{hospitalizacion.total}}" disabled>

                        </div>



                    </div>



                    <div class="row mt-2">
                        <div class="col">
                            <label class="form-label " for="form3Example2"
                                style="margin-top: 20px;"><strong>Observación</strong> </label>
                            <textarea name="" rows="6" class="form-control"
                                id="observacion">{{hospitalizacion.descripcion}}</textarea>
                        </div>



                    </div>






                </div>
                <!-- INICIO DE LA FUNCIONALIDAD DE LOS BOTONES CON JQUERY  DE LA PRIMERA PANTALLA-->

            </div>
            <div class="p-2">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-secondary" onclick="valoracion()">Valoración</button>
                <button type="button" onclick="marcarSalidaHospitalizacion()" class="btn btn-success"><i
                        class="ti ti-checklist"></i> Marcar Salida</button>
            </div>
        </div>

    </div>
</div>
{%endfor%}


<!-- MODALES -->
<div class="modal fade" id="agregarCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Agregar Cliente</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Nombres</label>

                            <input type="text" id="nombreCliente" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Apellidos</label>

                            <input type="text" id="apellidoCliente" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Correo</label>

                            <input type="text" id="nombreCliente" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Teléfono</label>

                            <input type="text" id="apellidoCliente" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Dirección</label>

                            <textarea name="" class="form-control" id=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#agendarConsulta" id="regresar" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Regresar</button>
                <button class="btn btn-primary" onclick="NuevoConductor()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="agregarMascota" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Agregar Mascota</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Nombre</label>

                            <input type="text" id="nombreMascota" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Especie</label>

                            <select name="" class="form-select" id="especie">
                                <option value="Seleccione una mascota" disabled selected>Seleccione una especie</option>
                                {%for especie in especies%}
                                <option value="{{especie.id_especie}}">{{especie.nom_especie}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Raza</label>
                            <select name="" class="form-select" id="raza">

                            </select>

                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Sexo</label>

                            <select name="" id="sexo" class="form-select">
                                <option value="M">Macho</option>
                                <option value="H">Hembra</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Color</label>

                            <input type="text" id="color" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Edad</label>

                            <input type="number" id="edad" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#agregarUsuario" id="regresar1" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Regresar</button>
                <button class="btn btn-primary" onclick="NuevaMascota()">Guardar</button>

            </div>
        </div>
    </div>
</div>
<!-- MODALES -->

<div id="agendar-modal-consulta"></div>
<input id="agregar1" type="hidden" data-bs-toggle="modal" data-bs-target="#agendarConsulta">

<div id="detalle-modal"></div>
<input id="detalle" type="hidden" data-bs-toggle="modal" data-bs-target="#detalleCita">






<style>
    .select2 {
        width: 100% !important;
    }

    /* Agrega un estilo personalizado para alinear horizontalmente las selecciones */
    .select2-selection__choice {
        display: inline-block !important;
        margin-right: 5px;
    }
</style>

<script>
    $(document).ready(function () {
        $('.select2').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '150%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
        $('#material').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '150%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
    });
    function NuevaMascota() {
        $.ajax({
            url: "{{ url_for('sistema.agregarMascota') }}",
            type: "POST",
            data: {
                cliente: $('#cliente').val(),
                nombre: $('#nombreMascota').val(),
                raza: $('#raza option:selected').val(),
                sexo: $('#sexo option:selected').val(),
                color: $('#color').val(),
                edad: $('#edad').val()
            },
            success: function (response) {
                $('#nombremascota').val($('#nombreMascota').val());
                $('#idMascota').val(response);
                $('#regresar1').click();

            },
            error: function (error) { // console.log(error);
            }
        });
    }


    function valoracion() {
    // Obtener la fecha de hoy en formato YYYY-MM-DD
    const hoy = new Date();
    const fechaSeleccionada = hoy.toISOString().split('T')[0];

    $.ajax({
        url: "{{ url_for('sistema.modalAgendarValoracion') }}",
        type: "POST",
        data: {
            fecha: fechaSeleccionada,
            id: $('#id').val()
        },
        success: function (response) {
            // Cerrar primer modal
            $('#detalleHospitalizacion').modal('hide');

            // Esperar un poco para asegurar el cierre antes de abrir el segundo
            setTimeout(() => {
                // Mostrar contenido en el segundo modal
                $('#agendar-modal-consulta').html(response); // o response.htmlresponse si usas JSON

                // Abrir el segundo modal
                $('#agregar1').click();
            }, 300); // 300ms de espera es suficiente
        },
        error: function (error) {
            console.error("Error en la solicitud AJAX:", error);
        },
    });
}






    $("#cliente").change(function () {
        $.ajax({
            url: "{{ url_for('sistema.traerMascotas') }}",
            type: "POST",
            data: {
                cliente: $('#cliente option:selected').val(),
            },
            success: function (response) {
                console.log(response);
                // Limpiar las opciones anteriores
                $('#mascota').empty();

                // Agregar la opción por defecto
                $('#mascota').append('<option value="Seleccione una mascota" disabled selected>Seleccione una mascota</option>');

                // Iterar sobre las mascotas recibidas y agregarlas como opciones
                response.mascotas.forEach(function (mascota) {
                    $('#mascota').append('<option value="' + mascota.idMascota + '">' + mascota.Nombre_mascota + '</option>');
                });
            },
            error: function (error) {
                console.error("Error en la solicitud AJAX:", error);
            },
        });
    });






    function marcarSalidaHospitalizacion() {


        var formData = new FormData();
        formData.append('id', $("#id").val());
        formData.append('observacion', $("#observacion ").val());
        for (var pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }
        $.ajax({
            url: "{{ url_for('sistema.salidaHospitalizacion') }}",
            type: "POST",
            data: formData,
            contentType: false,  // Importante: no configurar el tipo de contenido
            processData: false,

            success: function (response) {
                Swal.fire({ icon: 'success', title: 'Exito', confirmButtonText: 'Ok', text: 'Registro de Salida exitoso' }).then((result) => { /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        cargarHospitalizacion();
                        $('#cerrarDet').click();
                        openTicket($("#id").val());
                    }
                })
            },
            error: function (error) { // console.log(error);
            }
        });




    }

    function openTicket(id) {
        // Construye la URL con el ID
        var url = "{{ url_for('sistema.hospFact') }}?id=" + id;
        // Abre una nueva ventana sin barras de herramientas
        var newWindow = window.open(url, '_blank', "toolbar=no,scrollbars=yes,resizable=yes,location=no");
        if (newWindow) {
            // Si se pudo abrir la nueva ventana, enfócala
            newWindow.focus();
        } else {
            // Si no se pudo abrir la nueva ventana (debido a un bloqueador de ventanas emergentes), muestra un mensaje
            alert("No se pudo abrir la nueva ventana. Asegúrate de desactivar el bloqueador de ventanas emergentes.");
        }
    }

</script>