<head>
    <script src="../../../static/sistema/js/validacion-usuario.js"></script>
</head>

<div class="modal fade" id="agregarHospitalizacion" data-bs-focus="false" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content" >
            <div class="modal-header encabezado_modales">


                <div class="col-4">
                    <h5 class="modal-title fuente-grande-titulo" id="exampleModalLabel">
                        Hospitalización
                    </h5>
                </div>
                <button type="button" class="btn-close" id="cerrarDet" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <input type="hidden" id="filtrosInput" value='{  "filtro": [    "1",    "2",    "3"  ]}'>
            <div class="modal-body fondo-modal">

                <div class="container cuerpo-modal" style="background-color: white;">
                    <div class="row mt-2">
                        <div class="col">
                            <label class="form-label " for="form3Example2"><strong>Cliente</strong><i
                                    class="ti ti-circle-plus-filled" aria-hidden="true" title="Agregar Nuevo Conductor"
                                    data-bs-target="#agregarCliente" data-bs-toggle="modal" data-bs-dismiss="modal"
                                    style="color: red; font-size: 15px;"></i></label>
                            <select class="form-select" id="cliente" data-placeholder="Seleccione un rol">
                                <option selected="true" value="seleccione un cliente" disabled="disabled">seleccione un
                                    cliente</option>
                                {% for cliente in clientes %}
    
                                <option value="{{ cliente.num_cliente}}">{{ cliente.Nombre }}</option>
                                {% endfor %}
                            </select>
    
                        </div>
                        <div class="col">
                            <label class="form-label " for="form3Example2"><strong>Mascota</strong><i
                                    class="ti ti-circle-plus-filled" aria-hidden="true" title="Agregar Nuevo Conductor"
                                    data-bs-target="#agregarMascota" data-bs-toggle="modal" data-bs-dismiss="modal"
                                    style="color: red; font-size: 15px;"></i></label>
                            <select class="form-select" id="mascota" data-placeholder="Seleccione una mascota">
    
                            </select>
    
                        </div>

                        <div class="col">
                            <label class="form-label" for="form3Example2"><strong>Cuarto</strong></label>
                            {%if habitaciones %}
                            <select class="form-select" id="cuarto" data-placeholder="Seleccione un rol">
                               
                                {% for habitaciones in habitaciones %}
                               
                                    <option value="{{ habitaciones.id_habitacion }}">{{ habitaciones.habitacion }}</option>
                  
                                {% endfor %}
                            </select>
                            {%else%}
                            <label for="" class="control-label col-md-12 text-danger">No hay habitaciones disponibles !!!</label>
                            {%endif%}



                        </div>

                        <div class="col">
                            <label class="form-label" for="form3Example2"><strong>Fecha tentativa de salida</strong></label>
                            <input type="date" class="form-control" id="fechaSalida">



                        </div>

                    </div>
                    
                    
                    
                    <div class="row mt-2">
                        <div class="col">
                            <label class="form-label " for="form3Example2"
                                style="margin-top: 20px;"><strong>Observación</strong> </label>
                            <textarea name="" rows="6" class="form-control" id="observacion"></textarea>
                        </div>



                    </div>
                   
                    
                    <div class="row d-flex mt-5 ">
                        
                        <div class="col d-flex justify-content-end " style="margin-right: 10px;">
                            <button type="button" class="btn btn-primary" id="finalizar"
                                onclick="hospitalizar()"><i class="fa-regular fa-circle-check"></i>
                                GUARDAR
                            </button>
                        </div>
                    </div>



                </div>
                <!-- INICIO DE LA FUNCIONALIDAD DE LOS BOTONES CON JQUERY  DE LA PRIMERA PANTALLA-->

            </div>
            <div class="p-2">

            </div>
        </div>
    </div>
</div>


<!-- MODALES -->
<div class="modal fade" id="agregarCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Agregar Cliente</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Nombres</label>

                            <input type="text" id="nombreCliente" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Apellidos</label>

                            <input type="text" id="apellidoCliente" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Correo</label>

                            <input type="text" id="nombreCliente" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Teléfono</label>

                            <input type="text" id="apellidoCliente" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Dirección</label>

                            <textarea name="" class="form-control" id=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#agendarConsulta" id="regresar" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Regresar</button>
                <button class="btn btn-primary" onclick="NuevoConductor()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="agregarMascota" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Agregar Mascota</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Nombre</label>

                            <input type="text" id="nombreMascota" class="form-control">
                        </div>
                    </div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Especie</label>

                            <select name="" class="form-select" id="especie">
                                <option value="Seleccione una mascota" disabled selected>Seleccione una especie</option>
                            {%for especie in especies%}
                                <option value="{{especie.id_especie}}">{{especie.nom_especie}}</option>
                            {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Raza</label>
                            <select name="" class="form-select" id="raza">
                            
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Sexo</label>

                           <select name="" id="sexo" class="form-select">
                                <option value="M">Macho</option>
                                <option value="H">Hembra</option>
                           </select>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Color</label>

                            <input type="text" id="color" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="form-group" id="camionModal">
                            <label for="txtPlacaV" class=" form-label">Edad</label>

                            <input type="number" id="edad" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#agregarHospitalizacion" id="regresar1"
                    data-bs-toggle="modal" data-bs-dismiss="modal">Regresar</button>
                <button class="btn btn-primary" onclick="NuevaMascota()">Guardar</button>
            </div>
        </div>
    </div>
</div>





<style>
    .select2 {
        width: 100% !important;
    }

    /* Agrega un estilo personalizado para alinear horizontalmente las selecciones */
    .select2-selection__choice {
        display: inline-block !important;
        margin-right: 5px;
    }
</style>

<script>
    $(document).ready(function () {
        $('.select2').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '150%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
        $('#material').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '150%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
    });
    function NuevaMascota(){
        $.ajax({
            url: "{{ url_for('sistema.agregarMascota') }}",
            type: "POST",
            data: {
                cliente: $('#cliente').val(),
                nombre: $('#nombreMascota').val(),
                raza: $('#raza option:selected').val(),
                sexo: $('#sexo option:selected').val(),
                color: $('#color').val(),
                edad: $('#edad').val()
            },
            success: function (response) {
               // Suponiendo que `response` es el ID de la mascota nueva
                const idMascota = response;
                const nombreMascota = $('#nombreMascota').val();

                // Agregar la nueva mascota al select
                $('#mascota').append(
                    '<option value="' + idMascota + '">' + nombreMascota + '</option>'
                );

                // Seleccionar la nueva mascota
                $('#mascota').val(idMascota);

                // Opcional: almacenar el ID si tienes un campo oculto
                $('#idMascota').val(idMascota);

                // Cerrar el modal u ocultar la sección de nueva mascota
                $('#regresar1').click();

            },
            error: function (error) { // console.log(error);
            }
        });
    }
    $("#especie").change(function () {
    $.ajax({
      url: "{{ url_for('sistema.traerRazas') }}",
      type: "POST",
      data: {
        especie: $('#especie option:selected').val(),
      },
      success: function (response) {
        console.log(response);
        // Limpiar las opciones anteriores
        $('#raza').empty();

        // Agregar la opción por defecto
        $('#raza').append('<option value="Seleccione una raza" disabled selected>Seleccione una raza</option>');

        // Iterar sobre las mascotas recibidas y agregarlas como opciones
        response.razas.forEach(function (razas) {
          $('#raza').append('<option value="' + razas.num + '">' + razas.especie + '</option>');
        });
      },
      error: function (error) {
        console.error("Error en la solicitud AJAX:", error);
      },
    });
  });



    $("#cliente").change(function () {
        $.ajax({
            url: "{{ url_for('sistema.traerMascotas') }}",
            type: "POST",
            data: {
                cliente: $('#cliente option:selected').val(),
            },
            success: function (response) {
                console.log(response);
                // Limpiar las opciones anteriores
                $('#mascota').empty();

                // Agregar la opción por defecto
                $('#mascota').append('<option value="Seleccione una mascota" disabled selected>Seleccione una mascota</option>');

                // Iterar sobre las mascotas recibidas y agregarlas como opciones
                response.mascotas.forEach(function (mascota) {
                    $('#mascota').append('<option value="' + mascota.idMascota + '">' + mascota.Nombre_mascota + '</option>');
                });
            },
            error: function (error) {
                console.error("Error en la solicitud AJAX:", error);
            },
        });
    });






    function hospitalizar() {
        if ($("#fechaSalida").val() == ''  || $("#cliente option:selected").val() == '' || $("#mascota option:selected").val() == '' || $("#cuarto option:selected").val() == '') {
            Swal.fire({ icon: 'error', title: 'Error', confirmButtonText: 'Ok', text: 'Debe rellenar todos los campos' }).then((result) => { /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                }
            })
        } else {
            
                var formData = new FormData();
                formData.append('cliente', $("#cliente option:selected").val());
                formData.append('mascota', $("#mascota option:selected").val());
                formData.append('cuarto', $("#cuarto option:selected").val());
                formData.append('observacion', $("#observacion ").val());
                formData.append('fechaSalida', $("#fechaSalida ").val());
                for (var pair of formData.entries()) {
                    console.log(pair[0] + ': ' + pair[1]);
                }
                $.ajax({
                    url: "{{ url_for('sistema.hospitalizar') }}",
                    type: "POST",
                    data: formData,
                    contentType: false,  // Importante: no configurar el tipo de contenido
                    processData: false,
                   
                    success: function (response) {
                        Swal.fire({ icon: 'success', title: 'Exito', confirmButtonText: 'Ok', text: 'Mascota Hospitalizada' }).then((result) => { /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {
                                cargarHospitalizacion();
                                $('#agregarHospitalizacion').click();
                            }
                        })
                    },
                    error: function (error) { // console.log(error);
                    }
                });
            

        }

    }

</script>