{% extends "web/layout-web.html" %}


{% block contenidos %}
  <!-- inicio de sección de acerca de nosotros  -->
  <section class="about" id="about">

            

    <div class="image">
        <img src="../static/web/img/about_img.png" alt="">
    </div>

    <div class="content">
        <h3><span>Comida </span>Para mascotas</h3>
        <p>Poseemos una gran variedad de alimentos para toda clase de mascotas.</p>
        <a href="#" class="btn">Ver</a>
    </div>

</section>
<!-- fin de sección de acerca de nosotros  -->
{% endblock %}