{% extends "web/layout-web.html" %}

<head>
    <link rel="stylesheet" href="../../static/web/css/layout-web.css">
</head>

{% block contenidos %}

<!-- inicio de sección de productos  -->
<section class="shop" id="shop">
    <div class="justify-content-start">
        <div class="row mt-5" id="cantidadArticulos">
            
        </div>
        <div class="row">
            <!-- Columna de productos -->
            <div class="col-md-6 col-12 overflow-scroll ocultarScroll" style="height: 70vh!important;"
                id="productos_car">
                <!-- Contenido de productos -->
            </div>

            <!-- Columna del resumen -->
            <div class="col-md-6 col-12">
                <div style="border: 1px solid rgb(139, 139, 139); border-radius: 5px;">
                    <div class="row">
                        <div class="d-flex col justify-content-center">
                            <h1 class="m-4">Resumen del Pedido</h1>
                        </div>
                    </div>
                    <div class="row over">
                        <div class="d-flex col-12 justify-content-start" id="tabla_precios">
                            <!-- Contenido del resumen -->
                        </div>
                    </div>
                    <div class="row bg-danger m-3"
                        style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; height: 50px; ">
                        <button class="btn btn-dark" onclick="generarOrden()" style="font-size: 25px;">GENERAR
                            ORDEN</button>

                    </div>
                    
                </div>
                <div class="mt-5" style="border: 1px solid rgb(139, 139, 139); border-radius: 5px;">
                    <div class="row">
                        <div class="d-flex col justify-content-center">
                            <h1 class="m-4">Mis Pedidos</h1>
                        </div>
                    </div>
                    <div class="row over">
                        <div class="d-flex col-12 justify-content-start" id="pedidos">
                            <!-- Contenido del resumen -->
                        </div>
                    </div>
                    
                    
                </div>

            </div>
            

        </div>
        

    </div>
    </div>
</section>

<!-- fin de la sección de productos -->
<!-- SECCION DE MODAL DE COMPRAS -->
<input type="hidden" value="jahaja" id="llamarModal" data-bs-toggle="modal" data-bs-target="#exampleModal">

</input>

<div id="modal">

</div>



<!-- FIN SECCION MODAL COMPRAS -->
<!-- INICIO BUSCADOR -->
<script>
    $(document).ready(function () {

        traerTabla();
        traerTodo();
        cantidadArticulos();
        traerSeguimiento();

    });
    function traerSeguimiento(){
        $.ajax({
            url: "{{ url_for('web.seguimiento') }}",
            type: "POST",
            data: {
            },
            success: function (response) {
                $("#pedidos").html(response);
                $("#pedidos").append(response.htmlresponse);

            },
            error: function (error) {
                // console.log(error);
            },
        });
    }
    function generarOrden() {
        $.ajax({
            url: "{{ url_for('web.generarOrdenCompra') }}",
            type: "POST",
            beforeSend: function () {
                Swal.fire({
                html: '<div class="col-lg-12" style="z-index:99999;  display:absolute; width"><img  style="height: 80px;" src="../../static/sistema/images/logos/dots.gif" alt="loading" /><br/>Agendando Consulta...</div>',
                showCancelButton: false,
                showConfirmButton: false,
                backdrop: "static",
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                }
                });
            },
            data: {
            },
            success: function (response) {
                Swal.fire({
                    icon: "success",
                    title: "Éxito",
                    confirmButtonText: "Ok",
                    html: `Orden de compra generada!!<br><span style="font-weight: bold; font-size: 20px;">${response}</span>`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Acción cuando se confirme
                    }
                });
            },
            error: function (error) {
                // console.log(error);
            },
        });
    }
    function traerTodo() {
        $.ajax({
            url: "{{ url_for('web.cargarProductosCarrito') }}",
            type: "POST",
            data: {
            },
            success: function (response) {
                $("#productos_car").html(response);
                $("#productos_car").append(response.htmlresponse);

            },
            error: function (error) {
                // console.log(error);
            },
        });
    }
    function cantidadArticulos() {
        $.ajax({
            url: "{{ url_for('web.cantidadArticulos') }}",
            type: "POST",
            data: {
            },
            success: function (response) {
                $("#cantidadArticulos").html(response);
                $("#cantidadArticulos").append(response.htmlresponse);

            },
            error: function (error) {
                // console.log(error);
            },
        });
    }

    function sumarCantidad(button) {
        const valorBoton = $(button).val();

        $.ajax({
            url: "{{ url_for('web.sumarCantidad') }}",
            type: "POST",
            data: {
                producto: valorBoton,
            },
            success: function (response) {
                if (response == 'Sin Stock') {
                    Toastify({

                        text: "Lo sentimos no tenemos mas stock.",
                        gravity: "top", // `top` or `bottom`
                        position: "right",
                        className: "info",
                        duration: 3000,
                        style: {
                            background: "#5852a19d",
                        },

                    }).showToast();
                } else {
                    $('#cantidad_' + valorBoton).val(response);
                    traerTabla();
                }


            },
            error: function (error) {
                // console.log(error);
            },
        });
    }
    function restarCantidad(button) {
        const valorBoton = $(button).val();
        $.ajax({
            url: "{{ url_for('web.restarProducto') }}",
            type: "POST",
            data: {
                producto: valorBoton,
            },
            success: function (response) {
                if (response == 'no') {

                } else {
                    $('#cantidad_' + valorBoton).val(response);
                    traerTabla();
                }


            },
            error: function (error) {
                // console.log(error);
            },
        });
    }

    function borrarProducto(button) {
        const valorBoton = $(button).val();
        $.ajax({
            url: "{{ url_for('web.borrarProducto') }}",
            type: "POST",
            data: {
                producto: valorBoton,
            },
            success: function (response) {

                traerTodo();
                traerTabla();
                cantidadArticulos();

            },
            error: function (error) {
                // console.log(error);
            },
        });
    }
    function traerTabla() {
        $.ajax({
            url: "{{ url_for('web.cargarTabla') }}",
            type: "POST",
            data: {
                producto: $("#buscador").val(),
            },
            success: function (response) {

                $("#tabla_precios").html(response);
                $("#tabla_precios").append(response.htmlresponse);

            },
            error: function (error) {
                // console.log(error);
            },
        });

    };

    function buscarProducto() {
        $.ajax({
            url: "{{ url_for('web.buscarProducto') }}",
            type: "POST",
            data: {
                producto: $("#buscador").val(),
            },
            success: function (response) {

                $("#productos").html(response);
                $("#productos").append(response.htmlresponse);

            },
            error: function (error) {
                // console.log(error);
            },
        });

    };
    $('#buscador').on('keyup', buscarProducto)


    function detalleCompra(button) {
        // Obtén el valor del botón pasado como parámetro
        const valorBoton = $(button).val();
        $.ajax({
            url: "{{ url_for('web.detalleProducto') }}",
            type: "POST",
            data: {
                num: valorBoton,
            },
            success: function (response) {

                // Cargar el nuevo contenido en el modal
                $("#modal").html(response);
                $("#modal").append(response.htmlresponse);

                $('#llamarModal').click();





            },
            error: function (error) {
                // console.log(error);
            },
        });

    }


</script>

<!-- FIN BUSCADOR -->



{% endblock %}