{% extends "web/layout-web.html" %}


{% block contenidos %}
       
      <!-- inicio de sección de clientes  -->

<section class="plan" id="plan">

    <h1 class="heading"> Nuestros mejores <span> Clientes</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="../static/web/img/doggy.jpeg" class='imgRedonda' alt="">
            <br>
            <h3 class="title" style="margin-right: 80px; margin-top: 20px;">Doggy Alejandro</h3>
        </div>

        <div class="box">
            <img src="../static/web/img/cliford.jpeg" class='imgRedonda' alt="">
            <br>
            <h3 class="title" style="margin-right: 50px; margin-top: 20px;">Clifford</h3>

        </div>

        <div class="box">
            <img src="../static/web/img/loki.jpeg" class='imgRedonda' alt="">
            <br>
            <h3 class="title" style="margin-right: 50px; margin-top: 20px;">Loki</h3>
        </div>

    </div>

</section>
<!-- fin de sección de consultas -->
{% endblock %}

