{% extends "web/layout-web.html" %}


{% block contenidos %}
       
           <!-- inicio de sección de servicios  -->
        <section class="services" id="services">

            <h1 class="heading"> Nuestros <span> Servicios</span> </h1>

            <div class="box-container">

                <div class="box">
                    <i class="fas fa-dog"></i>
                    <h3>Cortes de pelo</h3>
                    
                </div>

                <div class="box">
                    <i class="fas fa-cat"></i>
                    <h3>Cortes de pelo</h3>
                    
                </div>

                <div class="box">
                    <i class="fas fa-bath"></i>
                    <h3>Aseo</h3>
                    
                </div>

                <div class="box">
                    <i class="fas fa-drumstick-bite"></i>
                    <h3>Comida Saludable</h3>
                   
                </div>

                <div class="box">
                    <i class="fas fa-baseball-ball"></i>
                    <h3>Juguetes</h3>
                   
                </div>

                <div class="box">
                    <i class="fas fa-heartbeat"></i>
                    <h3>Consultas</h3>
                    
                </div>

            </div>

        </section>

        <!-- servicios fin -->
{% endblock %}