{% extends "web/layout-web.html" %}


{% block contenidos %}
      <!-- inicio de sección de productos  -->
      <section class="shop" id="shop">

        <h1 class="heading"> Nuestros <span> Productos </span> </h1>

        <div class="box-container">

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../static/web/img/product_01.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Comida seca</h3>
                    <div class="amount">C$150.00 - C$200.00</div>
                </div>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../static/web/img/product_02.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Comida seca</h3>
                    <div class="amount">C$170.00 - C$200.00</div>
                </div>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../static/web/img/product_03.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Comida seca</h3>
                    <div class="amount">C$180.00 - C$300.00</div>
                </div>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../static/web/img/product_04.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Comida seca</h3>
                    <div class="amount">C$250.00 - C$300.00</div>
                </div>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../static/web/img/product_05.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Comida seca</h3>
                    <div class="amount">C$300.00 - C$350.00</div>
                </div>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../static/web/img/product_06.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Comida seca</h3>
                    <div class="amount">C$300.00 - C$350.00</div>
                </div>
            </div>

        </div>

    </section>
    <!-- fin de la sección de productos -->

{% endblock %}