{% extends "web/layout-web.html" %}

<head>
    <link rel="stylesheet" href="../../static/web/css/layout-web.css">
</head>

{% block contenidos %}

<!-- inicio de sección de productos  -->
<section class="shop" id="shop">

    <h1 class="heading"> Nuestra <span> Tienda </span> </h1>
    <div class="container">
        <div class="buscador">
            <div class="d-flex col justify-content-center">
                <form id="form">
                    <input type="text" name="buscador" id="buscador" placeholder="Busca una comida o ingrediente">
                    <button type="button" id="btn1-top" title="a">
                        <i class="fas fa-search"></i> <!-- Icono de lupa -->
                    </button>
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        AQUI VA EL FILTRO
        <!-- Button trigger modal -->

    </div>

    <div id="productos" class="box-container mt-2 overflow-scroll p-5" style="width: 100%;">



    </div>

</section>
<!-- fin de la sección de productos -->
<!-- SECCION DE MODAL DE COMPRAS -->
<input type="hidden" value="jahaja" id="llamarModal" data-bs-toggle="modal" data-bs-target="#exampleModal">

</input>

<div id="modal">

</div>

<!-- FIN SECCION MODAL COMPRAS -->
<!-- INICIO BUSCADOR -->
<script>
    $(document).ready(function () {
        buscarProducto();


    });

    function buscarProducto() {
        $.ajax({
            url: "{{ url_for('web.buscarProducto') }}",
            type: "POST",
            data: {
                producto: $("#buscador").val(),
            },
            success: function (response) {

                $("#productos").html(response);
                $("#productos").append(response.htmlresponse);

            },
            error: function (error) {
                // console.log(error);
            },
        });

    };
    $('#buscador').on('keyup', buscarProducto)


    function detalleCompra(button) {
        // Obtén el valor del botón pasado como parámetro
        const valorBoton = $(button).val();
        $.ajax({
            url: "{{ url_for('web.detalleProducto') }}",
            type: "POST",
            data: {
                num: valorBoton,
            },
            success: function (response) {

                // Cargar el nuevo contenido en el modal
                $("#modal").html(response);
                $("#modal").append(response.htmlresponse);

                $('#llamarModal').click();





            },
            error: function (error) {
                // console.log(error);
            },
        });

    }
</script>

<!-- FIN BUSCADOR -->



{% endblock %}