<div class="table-container">
    <table class="table" id="tabla-caja">
      <thead style="background-color: white !important;">
        <tr>
          <th style="width: 180px;">Producto</th>
          <th>Cantidad</th>
          <th>Descuento</th>
          <th style="width: 100px;">Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody style="background-color: transparent !important" class="overflow-scroll">
        {%for medicamento in medicamentos%}
        <tr id="{{medicamento.cod_detalle}}" style="background-color: transparent!important">
          <td>{{medicamento.nom_producto}}</td>
          <td>{{medicamento.cantidad}}</td>
          <td>{{medicamento.descuento}}</td>
          <td>C$ {{medicamento.precio * medicamento.cantidad}}</td>
          <td><button type="button" value="{{medicamento.NumDetalle}}" class="btn btn-primary-outline ml-5"
              name="editarProductos">
              <i class="fa-solid fa-ellipsis"></i>
            </button></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  
  <style>
    /* Contenedor de la tabla */
    table thead th {
      background-color: rgba(92, 92, 92, 0.486) !important;
      color: white;
      text-align: start !important;
    }
  
    .table-container {
      width: 100%;
      max-height: 70vh;
      /* Ajusta la altura según lo necesites */
      overflow-y: auto;
      /* Permite que solo el tbody se desplace */
      border: 1px solid #ddd;
    }
  
    /* La tabla debe tener el ancho completo */
    .table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      /* Garantiza que las columnas mantengan su tamaño */
    }
  
    /* Estilo para los encabezados */
    .table thead {
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 1;
      /* Mantiene los encabezados sobre el contenido al hacer scroll */
    }
  
    /* Ancho de las columnas */
    .table th,
    .table td {
      padding: 8px;
      text-align: start !important;
      width: 20%;
      /* Ajusta este valor si es necesario */
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;
    }
  
    /* Opcional: estilo para hacer más visible el encabezado */
    .table thead th {
      border-bottom: 2px solid #ddd;
      background-color: #f9f9f9;
    }
  </style>
  <script>
    $("#tabla-caja button[name=editarProductos]").click(function () {
      id = $(this).val();
  
      $.ajax({
        url: "/corregirProductos",
        type: "POST",
        data: {
          num: id,
        },
        success: function (response) {
  
          Swal.fire({
            title: "Editar Insumo!",
            text: "Complete los datos",
            html: '<div id="selectInsumo" ></div>',
            preConfirm: (value) => {
              if (($('#cantidadEdit').val() <= 0)) {
                Swal.showValidationMessage(
                  'Debe ingresar datos válidos.' + $('#cantidad').val()
                )
              }
            },
  
            showCancelButton: true,
            confirmButtonText: 'Guardar',
            cancelButtonText: 'Cancelar',
  
            showDenyButton: true,
            denyButtonText: 'Eliminar',
          }).then((result) => {
  
            if (result.isConfirmed) {
              tipo = $("#descuento").val()
              valor = $('#cantidadEdit').val()
              $.ajax({
                url: "/actualizarCantidad",
                type: "POST",
                data: {
                  num: id,
                  cantidad: valor,
                  descuento: tipo,
  
                },
                success: function (response) {
                  Swal.fire('Actualizado!', 'El insumo ha sido actualizado.', 'success');
                  cargarCaja();
                  total();
                },
                error: function (error) {
                  // console.log(error);
                },
              });
  
  
            }
            else if (result.isDenied) {
              // Si el usuario presiona "Eliminar"
              Swal.fire({
                title: '¿Está seguro?',
                text: "¡No podrás revertir esta acción!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar',
              }).then((deleteResult) => {
                if (deleteResult.isConfirmed) {
  
                  $.ajax({
                    url: "/eliminarCaja",
                    type: "POST",
                    data: {
                      num: id
  
                    },
                    success: function (response) {
                      Swal.fire('Guardado!', 'El insumo ha sido actualizado.', 'success');
                      cargarCaja();
                      total();
                    },
                    error: function (error) {
                      // console.log(error);
                    },
                  });
  
  
  
  
                  // Aquí puedes manejar la lógica para eliminar el insumo
                  Swal.fire('Eliminado!', 'El insumo ha sido eliminado.', 'success');
  
                  // Aquí puedes hacer alguna llamada AJAX o redirigir
                  // $.ajax({...}); o location.reload(); 
                }
              });
            }
  
  
          });
          $('#selectInsumo').html(response);
          $('#selectInsumo').append(response.htmlresponse);
        },
        error: function (error) {
          // console.log(error);
        },
      });
  
    });
  </script>