<div class="col-lg d-flex align-items-stretch">
    <div class="card w-100">
        <div class="card-body p-4">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <h5 class="card-title fw-semibold mb-4">Hospitalizaciones</h5>
                
                <button class="btn btn-primary" id="agregar" onclick="agregarHospitalizacion()">Hospitalizar</button>

            </div>

            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle table-hover " id="tabla_hospitalizacion">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">cod</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Mascota</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Tipo</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Habitación</h6>
                            </th>
                            <!-- <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Observación</h6>
                            </th> -->
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Fecha</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">Estado</h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class="fw-semibold mb-0"></h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for hospitalizacion in hospitalizacion%}
                        <tr id="{{hospitalizacion.id_hosp}}">
                            <td class="border-bottom-0">
                                <span class="fw-normal">{{hospitalizacion.id_hosp}}</span>
                                
                            </td>
                            <td class="border-bottom-0">
                                <span class="fw-normal">{{hospitalizacion.Nombre_mascota}}</span>
                                
                            </td>
                            <td class="border-bottom-0">
                                <span class="fw-normal">{{hospitalizacion.nom_especie}}</span>
                               
                            </td>
                            <td class="border-bottom-0">
                                <span class="fw-normal">{{hospitalizacion.habitacion}}</span>
                            </td>
                            <!-- <td class="border-bottom-0">
                                <span class="fw-normal">{{hospitalizacion.descripcion}}</span>
                            </td> -->
                            <td class="border-bottom-0">

                                <span class="fw-normal">{{hospitalizacion.fecha_hosp}}</span>
                            </td>

                            {%if hospitalizacion.NombreEstado == 'FINALIZADO'%}
                            <!-- GREEN -->
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-success rounded-3 fw-semibold">Finalizado</span>
                                </div>
                            </td>
                            {%elif hospitalizacion.NombreEstado == 'ACTIVO'%}
                            <!-- BLUE -->
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-warning rounded-3 fw-semibold">En uso</span>
                                </div>
                            </td>
                            {%elif hospitalizacion.NombreEstado == 'CANCELADO'%}
                            <!-- RED -->
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="badge bg-danger rounded-3 fw-semibold">Cancelado</span>
                                </div>
                            </td>
                            {%endif%}


                            


                            <td class="border-bottom-0" style="   display: flex;justify-content: end;">
                                <button class="btn btn-primary "  name="detalleHosp" id="{{hospitalizacion.id_hosp}}"><i class="ti ti-eye icono text-white"></i></button>
                            </td>
                            
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-detalle-hospitalizacion"></div>
<input id="detalleHospitalizacion1" type="hidden" data-bs-toggle="modal" data-bs-target="#detalleHospitalizacion">


<div id="modal-detalle-permisos"></div>
<input id="detallePermisos" type="hidden" data-bs-toggle="modal" data-bs-target="#modalDetallePermisos">

<script>
    var table = $('#tabla_hospitalizacion').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            "emptyTable": "Sin Datos",
            "zeroRecords": "No se encontraron registros coincidentes",
        },
        "lengthChange": false,
        "searching": true,
        "info": false,
        "ordering": false
    });
    

    $("#tabla_hospitalizacion button[name=detalleHosp]").click(function () {
        var id = $(this).attr("id");
        
        $.ajax({
            url: "{{ url_for('sistema.detalleHospitalizacion') }}",
            type: "POST",
            data: {
                num: id

            },
            success: function (response) {
                $('#modal-detalle-hospitalizacion').html(response);
                $('#modal-detalle-hospitalizacion').append(response.htmlresponse);
                $('#detalleHospitalizacion1').click();
            },
            error: function (error) { // console.log(error);
            }
        });
    });

    $("#tabla_hospitalizacion button[name=permisos]").click(function () {
        var id = $(this).attr("id");

        $.ajax({
            url: "{{ url_for('sistema.detalleFactura') }}",
            type: "POST",
            data: {
                num: id

            },
            success: function (response) {

                $('#modal-detalle-venta').html(response);
                $('#modal-detalle-venta').append(response.htmlresponse);
                $('#detalleVenta').click();
            },
            error: function (error) { // console.log(error);
            }
        });
    });
    function buscarDash() {
        var searchTerm = $('#Buscador').val();

        // Aplica el término de búsqueda a DataTables
        $('#tabla_hospitalizacion').DataTable().search(searchTerm).draw();
    };
    $('#Buscador').on('keyup', buscarDash)
</script>