{% for producto in producto%}
<div class="card row m-1 shadow p-3 mb-5 bg-body rounded d-flex flex-row align-items-center">
    <!-- Imagen del producto -->
    <div class="col-3">
        <div class="card-body">
            <img src="{{ producto.Imagen }}" class="imagenCarrito img-fluid" alt="">
        </div>
    </div>

    <!-- Información del producto -->
    <div class="col-9">
        <div class="row">
            <h5 class="titulo">{{ producto.nom_producto }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
        </div>

        <!-- Cantidad de producto y acciones -->
        <div class="row d-flex align-items-center justify-content-between" style="font-size: 20px; margin-top: 50px;">
            <div class="col-6">
                <p class="card-text" style="font-size: 25px;"><strong>C$ {{ producto.precio }}</strong></p>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-center">
                    <!-- Botón para aumentar la cantidad -->
                    <button class="btn" value="{{ producto.cod_detalle }}" style="font-size: 20px;" onclick="sumarCantidad(this)">
                        <i class="fas fa-plus" ></i>
                    </button>

                    <!-- Campo de cantidad -->
                    <input type="text" id="cantidad_{{ producto.cod_detalle }}" value="{{ producto.cantidad }}"
                        style="width: 35px; text-align: center; height: 30px;" readonly>

                    <!-- Botón para reducir la cantidad -->
                    <button class="btn" value="{{ producto.cod_detalle }}" style="font-size: 20px;" onclick="restarCantidad(this)">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="col-auto">
                <!-- Botón para borrar producto -->
                <button class="btn" value="{{ producto.cod_detalle }}" style="font-size: 20px;" onclick="borrarProducto(this)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
